In [468]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt
from sklearn.model_selection import train_test_split

In [469]:
dataset = pd.read_csv('dataset1.csv')
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [470]:
dataset.shape

(1025, 14)

In [471]:
dataset.info

<bound method DataFrame.info of       age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]>

In [472]:
dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [473]:
dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [474]:
dataset['target'].value_counts()

target
1    526
0    499
Name: count, dtype: int64

In [475]:
X = dataset.drop(columns='target',axis=1)
Y = dataset['target']
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [476]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=123)
print(X.shape,X_train.shape,X_test.shape)

(1025, 13) (820, 13) (205, 13)

In [477]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train.values)
X_test = sc.fit_transform(X_test.values)

In [478]:
import tensorflow as tf
tf.random.set_seed(3)
from tensorflow import keras

model = keras.Sequential([
    keras.layers.Flatten(input_shape=(13,)), 
    keras.layers.Dense(20,activation='relu'),
    keras.layers.Dense(40,activation='relu'),
    keras.layers.Dense(20,activation='relu'),
    keras.layers.Dense(2,activation='softmax'),
])

In [479]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics = ['accuracy'])

In [480]:
history = model.fit(X_train,Y_train,validation_split=0.1,epochs=10)

Epoch 1/10

24/24 [==============================] - 2s 15ms/step - loss: 0.6195 - accuracy: 0.7100 - val_loss: 0.5619 - val_accuracy: 0.7683
Epoch 2/10
24/24 [==============================] - 0s 8ms/step - loss: 0.4809 - accuracy: 0.8144 - val_loss: 0.4728 - val_accuracy: 0.7927
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 0.4060 - accuracy: 0.8428 - val_loss: 0.4451 - val_accuracy: 0.7927
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 0.3698 - accuracy: 0.8564 - val_loss: 0.4285 - val_accuracy: 0.8049
Epoch 5/10
24/24 [==============================] - 0s 5ms/step - loss: 0.3479 - accuracy: 0.8645 - val_loss: 0.4259 - val_accuracy: 0.8049
Epoch 6/10
24/24 [==============================] - 0s 5ms/step - loss: 0.3305 - accuracy: 0.8618 - val_loss: 0.4117 - val_accuracy: 0.8171
Epoch 7/10
24/24 [==============================] - 0s 5ms/step - loss: 0.3165 - accuracy: 0.8686 - val_loss: 0.4046 - val_accuracy: 0.8171
Epoch 8/10
24/24 [==============================] - 0s 4ms/step - loss: 0.3050 - accuracy: 0.8794 - val_loss: 0.3866 - val_accuracy: 0.8171
Epoch 9/10
24/24 [==============================] - 0s 5ms/step - loss: 0.2947 - accuracy: 0.8835 - val_loss: 0.3758 - val_accuracy: 0.8293
Epoch 10/10
24/24 [==============================] - 0s 5ms/step - loss: 0.2821 - accuracy: 0.8984 - val_loss: 0.3692 - val_accuracy: 0.8171

In [481]:
loss , accuracy = model.evaluate(X_test,Y_test)

7/7 [==============================] - 0s 2ms/step - loss: 0.2805 - accuracy: 0.8634

In [482]:
Y_pred = model.predict(X_test)
print(Y_pred.shape)
print(Y_pred[0])

7/7 [==============================] - 0s 2ms/step
(205, 2)
[0.03705136 0.9629487 ]

In [483]:
Y_pred_labels = [np.argmax(i) for i in Y_pred]
print(pd.DataFrame(Y_pred).head())
print(Y_pred_labels)

          0         1
0  0.037051  0.962949
1  0.103321  0.896679
2  0.947701  0.052299
3  0.614228  0.385772
4  0.935739  0.064261
[1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1]

In [484]:
#take input
input_data = (34,0,1,118,210,0,1,192,0,0.7,2,0,2)
#Change the input to numpy array
input_data = np.array(input_data)
print(input_data.shape)

#reshape the array as we are predicting for one data point
input_data = input_data.reshape(1,-1)
#Standardize the data
input_data = sc.transform(input_data)

#making prediction
prediction = model.predict(input_data)
print(prediction)

prediction_label = (np.argmax(prediction))

print(prediction_label)

if(prediction_label==0):
    print('NO Heart Disease')
else:
    print('Heart Disease')

(13,)
1/1 [==============================] - 0s 33ms/step
[[0.0043953  0.99560475]]
1
Heart Disease